@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');

/*--- general margins & paddings ---*/
body {
    margin: 0;
    padding: 0;
}

/*--- Text presets ---*/

.heading{
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 2em;
}

.sub-heading{
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 1.5em;
}

.sm-heading{
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 1em;
}

.content-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.footer-heading{
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: .80em;
    margin-bottom: .25em;
}

/*--- colors ---*/

a {
    color: inherit;
}

nav.light-mode{
    background-color: #E5E6F1;
}

nav.dark-mode{
    background-color: #21243D;
}

nav.light-mode h1{
    color: #B1871B;
}

nav.dark-mode h1{
    color: #F7EACA;
}

#mode-button.light-mode{
    background: url("../images/dark-mode.png") center/contain;
}

#mode-button.dark-mode{
    background: url("../images/light-mode.png") center/contain;
}


.navbar-toggler.light-mode {
    color: #21243D
}

.navbar-toggler.dark-mode {
    color: #ffffff;
}

ul.light-mode{
    color: black;
}

ul.dark-mode{
    color: white;
}

.nav-item{
    color: inherit;
}

.nav-link.active.light-mode{
    color: #B1871B;
}

.nav-link.active.dark-mode{
    color: #F7EACA;
}

ul.light-mode .nav-link:after{
    background: black;
}

ul.dark-mode .nav-link:after{
    background: white;
}

footer.light-mode{
    background-color: #E5E6F1;
}

footer.dark-mode{
    background-color: #2a2a2a;
}

.footer-heading.light-mode{
    color:#B1871B
}

.footer-heading.dark-mode{
    color: #F7EACA
}

#site-map.light-mode{
    color: #2a2a2a
}

#site-map.dark-mode{
    color: #ffffff;
}

#site-map a:hover{
    color: inherit;
}

.social-link.light-mode{
    color: #2a2a2a
}

.social-link.light-mode:hover{
    color: #B1871B
}

.social-link.dark-mode{
    color: white;
}

.social-link.dark-mode:hover{
    color: #F7EACA;
}

#cover.light-mode{
    background-color: rgba(0, 4, 63, 0.4);
}

#cover.dark-mode{
    background-color: rgba(250, 250, 210, 0.06);
}

#site-summary.light-mode{
    background-color: #F9C7D1;
    color:#2a2a2a;
}

#site-summary.dark-mode{
    background-color: #5D091A;
    color: #ffffff;
}

#site-summary.light-mode h3{
    color: #B1871B;
}

#site-summary.dark-mode h3{
color:#F7EACA;
}

#site-summary.light-mode i{
    color: #21243D;
}

#site-summary.dark-mode i{
    color: #E5E6F1;
}

#site-summary.light-mode i:hover{
    color: #B1871B;
}

#site-summary.dark-mode i:hover{
    color: #B1871B;
}

#map-intro.light-mode{
    background-color: #F7EACA;
    color: #2a2a2a
}

#map-intro.dark-mode{
    background-color: #B1871B;
    color: #ffffff;
}

#map-info.light-mode{
    background-color: #F9C7D1;
}

#map-info.dark-mode{
    background-color: #21243D;
}

#map-data-target.light-mode{
    background-color: #E5E6F1;
    color: #2a2a2a;
}

#map-data-target.dark-mode{
    background-color: #5D091A;
    color: #E5E6F1;
}

#map-data-target.light-mode h3{
    color:#B1871B;
}

#map-data-target.dark-mode h3{
    color: #F7EACA;
}

#deck-intro.light-mode{
    background-color: #F7EACA;
    color: #2a2a2a;
}

#deck-intro.dark-mode{
    background-color: #2a2a2a;
    color:#ffffff;
}

#deck-intro.light-mode h3{
   color:#B1871B;
}

#deck-intro.dark-mode h3{
    color:#F7EACA;
} 

#deck-intro.light-mode #cardBtn{
    color: #2a2a2a;
}

#deck-intro.dark-mode #cardBtn{
    color: #ffffff;
    background-color: #B1871B;
}

#deck.light-mode{
    background-color: #F7EACA;
    color: #2a2a2a;
}

#deck.dark-mode{
    background-color: #5D091A;
    color: #ffffff
}

.card{
    background-color: inherit;
}

#deck.dark-mode .card-name{
    transition: 200ms;
}

#deck.light-mode .card-name:hover{
    color: #B1871B;
}

#deck.dark-mode .card-name:hover{
    color: #B1871B;
}

.card-info.shown.light-mode{
    background-color: #F9C7D1;
}
.card-info.shown.dark-mode{
    background-color: #2a2a2a;
}

/*--- navigation bar ---*/

.navbar{
    padding: 0px;
}

.navbar-brand{
    height: 65px;
    width: 65px;
    margin: 0px;
}

.navbar-brand.light-mode{
background: url("../images/logo-light.png") center/contain;
}

.navbar-brand.dark-mode{
    background: url("../images/logo-dark.png") center/contain;
}

.title-text{
    font-size: 2.1em;
}

nav .navbar-toggler{
    padding: .25rem .50rem;
    margin-right: 0.25em;
}

#mode-button{
    height: 65px;
    width: 65px;
    margin: 0px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    border-radius: 50%;
    transition: 200ms;
}

#mode-button.light-mode:hover{
    background: url("../images/light-mode.png") center/contain;
}

#mode-button.dark-mode:hover{
    background: url("../images/dark-mode.png") center/contain;
}

.nav-link{
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover{
    color: inherit;
}
/*--- this code below has been adapted from https://stackoverflow.com/questions/30352431/css-transition-not-working-with-underline ---*/
.nav-link:after {
  content: '';
  color: inherit;
  width: 0px;
  height: 1px;
  display: block;
  transition: 300ms;
}

.nav-link:hover:after {
  width: 100%;;
}

/*--- end of adapted code --*/

/*--- footer ---*/

.footer-section{
    text-align: center;
    margin-top: 10px;
}

#site-map{
    font-size: 0.55em;
    list-style-type: none;
    padding: 0;
}

.social-link{
    padding: 5px;
    transition: 300ms;
}

.social-link:hover{
    text-decoration: none;
}

#footer-mode-button{
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 50%;
    transition: 200ms;
}

#footer-mode-button.light-mode{
    background: url("../images/dark-mode.png") center/contain;
}

#footer-mode-button.dark-mode{
    background: url("../images/light-mode.png") center/contain;
}

#footer-mode-button.light-mode:hover{
    background: url("../images/light-mode.png") center/contain;
}

#footer-mode-button.dark-mode:hover{
    background: url("../images/dark-mode.png") center/contain;
}

/*--- home page ---*/

#callout{
    width: 100%;
    height: 75vh;
    padding: 0;
    background:  url("../images/tarot-cover.jpg") center/cover;
}

#cover{
    width: 100%;
    Height: 100%;
}

.jumbotron{
    width: 75%;
    margin: auto;
    padding-bottom: 0;
    opacity: 0.85;
}

.jumbotron h1{
    color: #B1871B;
}

.jumbotron p{
    margin-bottom: 0;
}

.logo-card{
    height: 200px;
    width: 200px;
    background: url("../images/logo-card-dark.png") center/contain;
}

#site-summary{
    padding-top: 15px;
}
.page-summary{
    width: 100%;
    padding: 0px 20px;
}

.divider{
    margin-top: 0px;
    margin-bottom: 1em;
    border: 2px solid #B1871B;
    width: 30vw;
}

#site-summary .sm-heading{
    font-size: 1.2em
}

.summary-text{
    margin-top: 10px;
}

.summary-image{
    height: 55%;
}

#site-summary i{
    font-size: 3em;
    transition: 300ms;
}
 #site-summary a:hover{
     text-decoration: none;
 }

/*--- Classes page ---*/

#map-intro{
    padding: 20px 20px;
}

#map-intro h1{
    margin-bottom: 10px;
    font-size:1.5em;
}

#map-intro p{
    margin-bottom: 0px;
}

#map-info{
    padding: 30px 0px;
}

#map {
    height: 50vh;
    width: 90vw;
}

#map-data-target{
    width: 75vw;
    margin-top: 20px;
}

#map-data{
    padding: 20px 40px;
}

#map-data h3{
    font-size: 1.5em;
    margin-bottom: 1em;

}

#map-data a{
    text-decoration: underline;
}

/*--- Deck page ---*/

#deck-intro {
    padding: 1em;
}
#deck {
    padding-top: 1em;
}

#cardBtn{
    margin-left: 1em;
}

.card{
    width: 260px;
    border: 0px;
    padding: 0em 1em 1em;
}

.card-housing{
    width: 130px;
    height: 200px;
    perspective: 600px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 11px;
  backface-visibility: hidden;
}

.card-front {
  background: url("../images/card-back.jpg") center/contain;
}

.card-back {
  transform: rotateY( 180deg );
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-text{
    margin-top: 1rem;
    padding: 0px;
}

.card-name{
    margin: 0;
}

.card-info.shown{
    width: 100%;
    padding-top: 1em;
}

.card-info p{
    padding: 0em 1em;
}



/*-------------------------------media queries*/

@media(max-height: 600px) {
    #callout {
        height: 85vh;
    }
}

@media(min-width: 1050px) {
    #map {
        height: 65vh;
    width: 65vw;
    }
}

/*-----------------------------code used to fix website on landscape devices
The code was taken from: https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/*/
@media(max-width: 1024px) and (orientation : landscape) {
  #callout {
        height: 90vw;
    }

    #map{
        height: 75vw;
    }
}